<div class="container" *ngIf="teams">
  <div class="row">
    <select ngModel (ngModelChange)="mySelectHandler($event)">
      <option selected="true" disabled>Select Club</option>
      <option *ngFor="let t of teams.teams" [ngValue]="t">
        {{t.name}}
      </option>
    </select>
    <button class="btn-primary" style="margin: 10px" (click)="lastGameRecord(selectedTeam._links.fixtures.href)"
            name="LastGame" value="LastGame">LastGame
    </button>
    <button class="btn-primary" style="margin: 10px" (click)="loadOneFixture(selectedTeam._links.fixtures.href)">Last 5
      Games
    </button>
    <button class="btn-primary" style="margin: 10px" (click)="loadOneFixture(selectedTeam._links.fixtures.href)">All
      Games
    </button>
  </div>
</div>
<div *ngIf="fixtureData">
  <div class="table-responsive">
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th>Date</th>
        <th>Match Day</th>
        <th>Home Team</th>
        <th>Goals</th>
        <th>Goals</th>
        <th>Away Team</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{fixtureData.date}}</td>
        <td>{{fixtureData.matchday}}</td>
        <td>{{fixtureData.homeTeamName}}</td>
        <td>{{fixtureData.result.goalsHomeTeam}}</td>
        <td>{{fixtureData.result.goalsAwayTeam}}</td>
        <td>{{fixtureData.awayTeamName}}</td>
      </tr>


      </tbody>
    </table>
  </div>
</div>
<div *ngIf="fixtures" class="table-responsive">
  <table class="table table-hover table-dark">
    <thead>
    <tr>
      <th>Date</th>
      <th>Match Day</th>
      <th>Home Team</th>
      <th>Goals</th>
      <th>Goals</th>
      <th>Away Team</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of fixtures.fixtures" (click)="loadHeadToHead(f._links.self.href)">
      <td>{{f.date}}</td>
      <td>{{f.matchday}}</td>
      <td>{{f.homeTeamName}}</td>
      <td>{{f.result.goalsHomeTeam}}</td>
      <td>{{f.result.goalsAwayTeam}}</td>
      <td>{{f.awayTeamName}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="headToHead">
  <div class="row">
    <div class="col text-center">
      <h2>Head To Head</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4>{{headToHead.fixture.homeTeamName}}</h4>
      <h5>{{headToHead.head2head.homeTeamWins}}Total Wins</h5>
    </div>
    <div class="col text-center">
      <h4>{{headToHead.fixture.awayTeamName}}</h4>
      <h5>Total Wins{{headToHead.head2head.awayTeamWins}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4>Played {{ headToHead.head2head.count}}</h4>
      <h4>Draws {{headToHead.head2head.draws}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover table-dark">
          <thead>
          <tr>
            <th>Date</th>
            <th>Match Day</th>
            <th>Home Team</th>
            <th>Goals</th>
            <th>Goals</th>
            <th>Away Team</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of headToHead.head2head.fixtures">
            <td>{{f.date}}</td>
            <td>{{f.matchday}}</td>
            <td>{{f.homeTeamName}}</td>
            <td>{{f.result.goalsHomeTeam}}</td>
            <td>{{f.result.goalsAwayTeam}}</td>
            <td>{{f.awayTeamName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--
<div class="container" *ngIf="teams">
  <div class="row">
  <div class="col-sm-4">
  <div class="table-responsive">
    <h3>Select Club</h3><hr class="bg-dark">
    <table class="table table-hover">
      <tbody>
      <tr *ngFor="let t of teams.teams" [class.selected]="t === selectedTeam" (click)="loadOneFixture(t._links.fixtures.href)">
        <td><img src={{t.crestUrl}} alt="logo" width="30px" height="30px"> {{t.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="col-sm-8">
    <nav class="navbar navbar-expand-sm">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="navbar-link" routerLink="/lastGame" style="padding-left: 33px">Last Game</a></li>
        <li class="nav-item"><a class="navbar-link" routerLink="/lastFive" style="padding-left: 33px">Last 5 Games</a></li>
        <li class="nav-item"><a class="navbar-link" routerLink="/allGames" style="padding-left: 33px">All Games</a></li>
      </ul>
    </nav>
  </div>
  </div>
</div>
  <div class="col-sm-8">
  -->


