<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Football League</a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="navbar-link" routerLink="/leagueTable" style="margin-right: 10px">League Table</a>
    </li>
    <li class="nav-item"><a class="navbar-link" routerLink="/results" style="margin: 10px">Results</a></li>
    <li class="nav-item"><a class="navbar-link" routerLink="/headToHead">Head To Head</a></li>
  </ul>
</nav>
<br>
<br>
<br>

<router-outlet></router-outlet>



