<div class="container">
  <div class="row" *ngIf="teams">
    <div class="col-xs-6">
      <h3>Select Club</h3>
      <select ngModel (ngModelChange) = "mySelectHandler1($event)">
        <option selected="true" disabled>Select Club</option>
        <option *ngFor="let t of teams.teams" [ngValue]="t">
          {{t.name}}
        </option>
      </select>
    </div>
    <div class="col-xs-6">
      <h3>Select Rival Club</h3>
      <select ngModel (ngModelChange) = "mySelectHandler2($event)">
        <option selected="true" disabled>Select Rival Club</option>
        <option *ngFor="let t of teams.teams" [ngValue]="t">
          {{t.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn-primary" (click)="loadOneFixture(selectedTeam1._links.fixtures.href)">Head To Head</button>
    </div>
  </div>
</div>
