<div class="container">
  <div *ngIf="leagueTable">
    <h2>League Table </h2>
    <div class="table-responsive">
      <table class="table table-hover table-dark ">
        <thead>
        <tr>
          <th>Rank</th><th>Club</th><th>Played Games</th><th>Won</th><th>Drawn</th><th>Lost</th>
          <th>GF</th><th>GA</th><th>GD</th><th>Points</th>
        </tr>
        </thead>
        <tr *ngFor="let l of leagueTable.standing" [class.selected]="l === selectedLeague" (click)="onSelect(l)">
          <td>{{l.position}}</td>
          <td><img src={{l.crestURI}} alt="logo" width="30px" height="30px"> {{l.teamName}}</td>
          <td>{{l.playedGames}}</td>
          <td>{{l.wins}}</td>
          <td>{{l.draws}}</td>
          <td>{{l.losses}}</td>
          <td>{{l.goals}}</td>
          <td>{{l.goalsAgainst}}</td>
          <td>{{l.goalDifference}}</td>
          <td>{{l.points}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="container-fluid" *ngIf="away">
  <div class="row">
    <div class="col">
      <div class="table-responsive">

        <table class="table table-hover table-striped">

          <thead>
          <tr>
            <th>Home Games Performance</th>
          </tr>
          <tr>
            <th>Total Goals</th><th>Goals Against</th><th>Won</th><th>Drawn</th><th>Lose</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{home.goals}}</td>
            <td>{{home.goalsAgainst}}</td>
            <td>{{home.wins}}</td>
            <td>{{home.draws}}</td>
            <td>{{home.losses}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th class="text-center">Away Games Performance</th>
          </tr>
          <tr>
            <th>Total Goals</th><th>Goals Against</th><th>Won</th><th>Drawn</th><th>Lose</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{away.goals}}</td>
            <td>{{away.goalsAgainst}}</td>
            <td>{{away.wins}}</td>
            <td>{{away.draws}}</td>
            <td>{{away.losses}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!--
<div class="match-list-wrap" *ngIf="leagueTable">
  <div class="match-list-item" *ngFor="let l of leagueTable.standing">
    <div class="date">
      <span>{{l.position}}</span>
    </div>
    <div class="logo">
      <a href="match-single.html">
        <img src={{l.crestURI}} class="img-polaroid" alt={{l.teamName}}></a>
    </div>
    <div class="team-name">
      {{l.teamName}}
    </div>
    <div class="team-score">
      {{l.playedGames}}
    </div>
    <div class="score-separator">:</div>
    <div class="team-score">
      0
    </div>
    <div class="team-name">
      Amsterdam
    </div>
    <div class="logo">
      <a href="match-single.html">
        <img src="images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)"></a>
    </div>
    <div class="location">
      <address>
        Cambridgeshire UK               <br><br>
      </address>
    </div>
    <div class="va-view-wrap">
      <a class="view-article" href="match-single.html">view</a>
    </div>
  </div>
</div>


-->
